body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin:0;
}

a {
  margin-right: 1rem;
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin:4px;
}

nav, nav a {
  text-align: center;
  font-size: 30px;
  text-decoration:none;
  color:black;
}
nav {
  background-color: rgba(146, 170, 255, 0.75);
  background: linear-gradient(180deg, rgba(146, 170, 255, 0.75) 0%, rgba(144, 178, 255, 0.68) 7.6%, rgba(142, 186, 255, 0.6) 15.21%, rgba(140, 193, 255, 0.53) 22.81%, rgba(137, 201, 255, 0.45) 30.42%, rgba(134, 209, 255, 0.38) 38.02%, rgba(130, 216, 255, 0.3) 45.63%, rgba(126, 224, 255, 0.23) 53.23%, rgba(122, 231, 255, 0.15) 60.84%, rgba(117, 239, 255, 0.07) 68.44%, rgba(111, 246, 255, 0) 76.05%);
}

nav a {
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
  color:white;
}
h1 {
  color: #ffaa00;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }

}


@keyframes funWittleAnimation {
  0% {
    rotate:5deg;
  }
  50% {
    rotate:-5deg;
  }
}

section {
  width:28%;
  padding:1rem;
  background-color: #ffaa00;
  margin: 10px;
  border:3px solid gold;
  color:white;
  border-radius: 1rem;
  margin-left:auto;
  margin-right:auto;
}

.sections {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-items:center;
}

@media only screen and (max-width: 640px) {
  section {
    width: 85%;
  }
  .sections {
    width:90%;
    flex-direction: column;
    font-size:14px;
  }
}
#title-logo {
  animation: 1s infinite normal funWittleAnimation;
  animation-timing-function:step-start;
  rotate:5deg;
  height: 21vw;
  margin:10px;
}